/*Les polices*/
/*Récupérer cette propriété sur Google fonts : https://fonts.google.com/*/
h1, h2, h3, h4, h5, h6, i { font-family: 'Fjalla One', sans-serif; }
p { font-family: 'arial'; }

/*La couleur dominante*/
.circle, .navbar, .frame { border-color: #4A0951; }
h1, h2, h3, h4, h5, h6, i, .item { color: #4A0951; }

/*Le fond de couleur*/
/*Récupérer ces propriétés sur Ui Gradients: https://uigradients.com*/
.bg-color {
  background: #74ebd5;
  background: -webkit-linear-gradient(to right, #8e9eab, #eef2f3);
  background: linear-gradient(to right, #8e9eab, #eef2f3);
}

